.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

.left-links {
  padding: 0 10px 0 10px
}

.right-links {
  padding: 0 10px;
}

ul {
  list-style-type: none;    /* this removes the dots on the list items*/
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  gap: 5px;
  padding: 0px;
}

a {
  color: blue;
  font-size: 22px;
  background: white;
  padding: 8px;
  text-align: center;
  display: block;
  /* this removes the line under the links */
  text-decoration: none;
}