body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.cardcontainer {
  width: auto;
  background: #fff;
  /* margin: 16px auto; */
  margin-top: 8px;
  padding: 10px
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}